@font-face {
    font-family: Roboto-Medium;
    src: url(@../../../../../resources/themes/forest/Roboto-Medium.ttf);
}

.text{
	-fx-font-family: 'Roboto-Medium';
}

.icon{
	-fx-fill: rgba(56, 175, 60, 1);
}

.message-background{
	-fx-background-color: rgba(56, 175, 60, .75);
	-fx-background-radius: 5;
	-fx-border-radius: 5, 5, 5, 5;
}

.jfx-button{
	-fx-background-color: rgba(56, 142, 60, 1);
	-jfx-button-type: RAISED;
}

.jfx-text-field{
	-jfx-focus-color: rgba(56, 142, 60, 1);
}

.list-view{
	-fx-background-color: rgba(255, 255, 255, 0);
}

.scroll-pane > .viewport{
	-fx-background-color: transparent;
}

.scroll-pane{
	-fx-background-color: transparent;
}

.message-pane{
	-fx-background-color: rgba(56, 142, 60, 1); 
	-fx-background-radius: 5;
	-fx-border-radius: 5, 5, 5, 5;
}

#BackgroundImageLayer{
	-fx-background-image: url(@../../../../../resources/themes/forest/Background.jpg);
	-fx-background-size: 100% 100%;
}

#NewConnectionBackgroundLayer{
	-fx-background-color: rgba(96, 125, 139, 1);
}

#NewConnectionBorder{
	-fx-background-color: rgba(0, 0, 0, .2);
}


#MainPane{
	-fx-background-color: rgba(255, 255, 255, .9);
}

#AddButton{
	-fx-background-radius: 30;
	-fx-background-color: rgba(255, 255, 255, 1);
	-fx-text-fill: rgba(56, 142, 60, 1);
	-fx-border-radius: 50, 50, 50, 50;
}